In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('titanic/train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df = df.drop_duplicates()

In [4]:
train = pd.get_dummies(df, columns=["Sex","Embarked","Cabin"], prefix=["Sex","Emb","Cabin"], drop_first=True)
train = train.fillna(0)
X_train = train.drop(["Survived","PassengerId","Name","Ticket"],axis=1).values
y_train = train["Survived"].values

In [5]:
from sklearn.preprocessing import StandardScaler
X_train = StandardScaler().fit_transform(X_train)

In [6]:
X_train.shape

(891, 154)

In [7]:
import keras
from keras.models import Sequential
from keras.layers import Dense, Activation, Dropout
from keras.optimizers import SGD

model = Sequential()

model.add(Dense(18, activation='relu', input_dim=154, kernel_initializer='uniform'))
model.add(Dropout(0.50))
model.add(Dense(60, kernel_initializer='uniform', activation='relu'))
model.add(Dropout(0.50))
model.add(Dense(1, kernel_initializer='uniform', activation='sigmoid'))

model.summary()

Using TensorFlow backend.

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 18)                2790
_________________________________________________________________
dropout_1 (Dropout)          (None, 18)                0
_________________________________________________________________
dense_2 (Dense)              (None, 60)                1140
_________________________________________________________________
dropout_2 (Dropout)          (None, 60)                0
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 61
=================================================================
Total params: 3,991
Trainable params: 3,991
Non-trainable params: 0
_________________________________________________________________

In [8]:
#Creating an Stochastic Gradient Descent
sgd = SGD(lr = 0.01, momentum = 0.9)

# Compiling our model
model.compile(optimizer = sgd,  loss = 'binary_crossentropy',  metrics = ['accuracy'])

# Fitting the ANN to the Training set
model.fit(X_train, y_train, batch_size = 60, epochs = 30, verbose=1)

Epoch 1/30
891/891 [==============================] - 0s 260us/step - loss: 0.6898 - accuracy: 0.6128
Epoch 2/30
891/891 [==============================] - 0s 22us/step - loss: 0.6791 - accuracy: 0.6162
Epoch 3/30
891/891 [==============================] - 0s 21us/step - loss: 0.6709 - accuracy: 0.6162
Epoch 4/30
891/891 [==============================] - 0s 21us/step - loss: 0.6676 - accuracy: 0.6162
Epoch 5/30
891/891 [==============================] - 0s 22us/step - loss: 0.6651 - accuracy: 0.6162
Epoch 6/30
891/891 [==============================] - 0s 22us/step - loss: 0.6639 - accuracy: 0.6162
Epoch 7/30
891/891 [==============================] - 0s 21us/step - loss: 0.6634 - accuracy: 0.6162
Epoch 8/30
891/891 [==============================] - 0s 20us/step - loss: 0.6615 - accuracy: 0.6162
Epoch 9/30
891/891 [==============================] - 0s 20us/step - loss: 0.6604 - accuracy: 0.6162
Epoch 10/30
891/891 [==============================] - 0s 20us/step - loss: 0.6579 - accuracy: 0.6162
Epoch 11/30
891/891 [==============================] - 0s 21us/step - loss: 0.6560 - accuracy: 0.6162
Epoch 12/30
891/891 [==============================] - 0s 21us/step - loss: 0.6522 - accuracy: 0.6173
Epoch 13/30
891/891 [==============================] - 0s 20us/step - loss: 0.6477 - accuracy: 0.6251
Epoch 14/30
891/891 [==============================] - 0s 21us/step - loss: 0.6423 - accuracy: 0.6375
Epoch 15/30
891/891 [==============================] - 0s 22us/step - loss: 0.6307 - accuracy: 0.6599
Epoch 16/30
891/891 [==============================] - 0s 22us/step - loss: 0.6169 - accuracy: 0.6779
Epoch 17/30
891/891 [==============================] - 0s 21us/step - loss: 0.5975 - accuracy: 0.7059
Epoch 18/30
891/891 [==============================] - 0s 21us/step - loss: 0.5725 - accuracy: 0.7273
Epoch 19/30
891/891 [==============================] - 0s 21us/step - loss: 0.5492 - accuracy: 0.7475
Epoch 20/30
891/891 [==============================] - 0s 21us/step - loss: 0.5226 - accuracy: 0.7654
Epoch 21/30
891/891 [==============================] - 0s 21us/step - loss: 0.4941 - accuracy: 0.7924
Epoch 22/30
891/891 [==============================] - 0s 20us/step - loss: 0.4596 - accuracy: 0.8227
Epoch 23/30
891/891 [==============================] - 0s 21us/step - loss: 0.4383 - accuracy: 0.8451
Epoch 24/30
891/891 [==============================] - 0s 21us/step - loss: 0.4246 - accuracy: 0.8373
Epoch 25/30
891/891 [==============================] - 0s 21us/step - loss: 0.4223 - accuracy: 0.8238
Epoch 26/30
891/891 [==============================] - 0s 21us/step - loss: 0.4172 - accuracy: 0.8238
Epoch 27/30
891/891 [==============================] - 0s 21us/step - loss: 0.4068 - accuracy: 0.8316
Epoch 28/30
891/891 [==============================] - 0s 21us/step - loss: 0.4033 - accuracy: 0.8373
Epoch 29/30
891/891 [==============================] - 0s 20us/step - loss: 0.3916 - accuracy: 0.8462
Epoch 30/30
891/891 [==============================] - 0s 21us/step - loss: 0.3847 - accuracy: 0.8485

In [9]:
scores = model.evaluate(X_train, y_train, batch_size=30)
print("%s: %.2f%%" % (model.metrics_names[1], scores[1]*100))

891/891 [==============================] - 0s 62us/step
accuracy: 86.08%

In [10]:
X_train.shape[1]

154